@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #cfcfcf;
}

input::placeholder {
  border: none;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
